In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kogon,UZ,2021-01-27 20:33:10,39.7228,64.5517,30.20,86,0,4.61
1,1,Victoria,HK,2021-01-27 20:33:10,22.2855,114.1577,63.00,85,0,1.01
2,2,Vaini,TO,2021-01-27 20:33:10,-21.2000,-175.2000,73.40,100,90,10.36
3,3,Port Elizabeth,ZA,2021-01-27 20:33:10,-33.9180,25.5701,66.20,77,90,9.22
4,4,Severo-Kurilsk,RU,2021-01-27 20:32:10,50.6789,156.1250,26.71,95,100,14.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Gamba,GA,2021-01-27 20:33:10,-2.6500,10.0000,77.22,89,100,3.80
10,10,Yenagoa,NG,2021-01-27 20:33:11,4.9247,6.2642,79.48,81,100,6.71
13,13,Rikitea,PF,2021-01-27 20:33:11,-23.1203,-134.9692,79.34,75,39,14.18
25,25,Hithadhoo,MV,2021-01-27 20:33:13,-0.6000,73.0833,80.92,80,81,16.98
26,26,Anloga,GH,2021-01-27 20:33:13,5.7947,0.8973,84.20,79,39,11.50
28,28,Puerto Ayora,EC,2021-01-27 20:33:13,-0.7393,-90.3518,86.00,62,40,16.11
29,29,Sao Jose Da Coroa Grande,BR,2021-01-27 20:33:13,-8.8978,-35.1478,77.43,82,29,9.46
32,32,Kapaa,US,2021-01-27 20:33:13,22.0752,-159.3190,77.00,83,90,18.41
35,35,Chuy,UY,2021-01-27 20:33:14,-33.6971,-53.4616,76.68,77,3,12.62
36,36,Butaritari,KI,2021-01-27 20:33:14,3.0707,172.7902,80.56,79,95,10.42

In [12]:
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
7                      Gamba      GA     77.22  -2.6500   10.0000
10                   Yenagoa      NG     79.48   4.9247    6.2642
13                   Rikitea      PF     79.34 -23.1203 -134.9692
25                 Hithadhoo      MV     80.92  -0.6000   73.0833
26                    Anloga      GH     84.20   5.7947    0.8973
28              Puerto Ayora      EC     86.00  -0.7393  -90.3518
29  Sao Jose Da Coroa Grande      BR     77.43  -8.8978  -35.1478
32                     Kapaa      US     77.00  22.0752 -159.3190
35                      Chuy      UY     76.68 -33.6971  -53.4616
36                Butaritari      KI     80.56   3.0707  172.7902

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [16]:
hotel_df.tail(10)

          City Country  Max Temp      Lat       Lng     Hotel Name
520     Katobu      ID     75.60  -4.9408  122.5276
523     Olinda      BR     80.60  -8.0089  -34.8553
536     Maxixe      MZ     82.40 -23.8597   35.3472
537     Muisne      EC     84.20   0.6000  -80.0333
538    Oistins      BB     82.40  13.0667  -59.5333
543  Caravelas      BR     78.03 -17.7125  -39.2481
547  Matagalpa      NI     84.20  12.9256  -85.9175
552   Altamira      BR     86.00  -3.2033  -52.2064
553     Neiafu      TO     75.20 -18.6500 -173.9833
563    Huarmey      PE     75.54 -10.0681  -78.1522  Hotel Miramar

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))