In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-01-26 20:09:12,-54.8000,-68.3000,44.60,61,75,26.46
1,1,Butaritari,KI,2021-01-26 20:16:18,3.0707,172.7902,80.35,76,94,5.75
2,2,Hobart,AU,2021-01-26 20:13:25,-42.8794,147.3294,53.01,66,20,12.66
3,3,Tasiilaq,GL,2021-01-26 20:16:19,65.6145,-37.6368,10.40,52,90,13.80
4,4,Port Elizabeth,ZA,2021-01-26 20:11:30,-33.9180,25.5701,68.00,94,75,9.22

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2021-01-26 20:16:18,3.0707,172.7902,80.35,76,94,5.75
6,6,Rikitea,PF,2021-01-26 20:13:51,-23.1203,-134.9692,80.02,70,43,12.88
9,9,Avarua,CK,2021-01-26 20:11:24,-21.2078,-159.7750,84.20,70,72,16.11
12,12,Yulara,AU,2021-01-26 20:11:20,-25.2406,130.9889,75.20,88,75,9.22
13,13,Sorong,ID,2021-01-26 20:16:20,-0.8833,131.2500,76.95,90,100,5.57
14,14,Tougan,BF,2021-01-26 20:16:20,13.0667,-3.0667,78.48,15,0,10.22
15,15,Pitimbu,BR,2021-01-26 20:11:35,-7.4706,-34.8086,82.40,74,20,13.80
16,16,Kapaa,US,2021-01-26 20:14:00,22.0752,-159.3190,75.99,83,90,23.02
19,19,Mount Isa,AU,2021-01-26 20:16:20,-20.7333,139.5000,77.00,83,86,2.30
28,28,Cidreira,BR,2021-01-26 20:16:21,-30.1811,-50.2056,79.61,76,60,12.50

In [16]:
preferred_cities_df.count()

City_ID       172
City          172
Country       170
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1   Butaritari      KI     80.35   3.0707  172.7902
6      Rikitea      PF     80.02 -23.1203 -134.9692
9       Avarua      CK     84.20 -21.2078 -159.7750
12      Yulara      AU     75.20 -25.2406  130.9889
13      Sorong      ID     76.95  -0.8833  131.2500
14      Tougan      BF     78.48  13.0667   -3.0667
15     Pitimbu      BR     82.40  -7.4706  -34.8086
16       Kapaa      US     75.99  22.0752 -159.3190
19   Mount Isa      AU     77.00 -20.7333  139.5000
28    Cidreira      BR     79.61 -30.1811  -50.2056

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Butaritari,KI,80.35,3.0707,172.7902,Isles Sunset Lodge
6,Rikitea,PF,80.02,-23.1203,-134.9692,Pension Maro'i
9,Avarua,CK,84.20,-21.2078,-159.7750,Paradise Inn
12,Yulara,AU,75.20,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
13,Sorong,ID,76.95,-0.8833,131.2500,The Waigo Hotel
14,Tougan,BF,78.48,13.0667,-3.0667,Hôtel SMAK
15,Pitimbu,BR,82.40,-7.4706,-34.8086,Reserva do Abiaí
16,Kapaa,US,75.99,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
19,Mount Isa,AU,77.00,-20.7333,139.5000,ibis Styles Mt Isa Verona
28,Cidreira,BR,79.61,-30.1811,-50.2056,Hotel Castelo

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))